<%- include("partials/header.ejs") %>

    <div class="detail">
        <div style="text-align: center; margin-bottom: 1rem;">
            <h1>
                <%= post.title %>
            </h1>
        </div>
        <h2>Ingredients</h2>
        <p>
            <%= post.ingredients %>
        </p>

        <h2>Cooking Steps</h2>
        <p>
            <%= post.cookingSteps %>
        </p>

        <img src="/images/<%= post.imageName %>" />
        <div class="chief">
            <h2>Chief Name</h2>
            <p>
                <%= post.chief %>
            </p>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>