<%- include("partials/header.ejs") %>

    <div class="detail">
        <div style="text-align: center; margin-bottom: 1rem;">
            <h1>
                <%= post.title %>
            </h1>
        </div>
        <h2>
            <%= post.ingredients %>
        </h2>
        <h2>
            <%= post.cookingSteps %>
        </h2>
        <img class="postedImage" src="images\postedImage.jpg" alt="postedImage" />
        <h2>
            <%= post.chief %>
        </h2>
    </div>

    <%- include("partials/footer.ejs") %>