<%- include("partials/header.ejs") %>
    <div class="homeBox">

        <h1 style="text-align: center;">Recipes</h1>
        <div class="addPost">
            <a href="/post"><button type="button" class="btn btn-primary">Add Post</button></a>
        </div>
        <div class="items">
            <% if(locals.posts){ %>
                <% posts.forEach((post)=>{ %>
                    <div class="item">
                        <a href="/posts/ +<%=post.title %>">
                            <h2>Recipe:
                                <%= post.title %>
                            </h2>
                        </a>
                        <p>By:
                            <%= post.chief %>
                        </p>
                    </div>
                    <% }); %>
                        <% } else{ %>
                            <div class="item">
                                <h2>Recipe Name</h2>
                                <p>By chief name</p>
                            </div>
                            <% } %>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>